<%- include("partials/header.ejs") %>
<main class="p-4 md:p-6 lg:p-8">
  <h1 class="text-center text-5xl">Business Name Generator</h1>
  <p class="py-4 md:py-6 lg:py-8 text-center">Select a category and generate creative business names</p>

<%- include("partials/layout.ejs") %>


 <!-- Category Grid -->
<div class="grid grid-rows-3 grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-12 m-auto p-4 md:p-6 lg:p-8">
  <% categories.forEach((category, categoryIndex) => { %>
    <!-- Card -->
    <div  onclick="location.href='/category/<%= category.title %>'"  class="card bg-base-200 max-w-96 shadow cursor-pointer overflow-hidden hover:shadow-indigo-50 gap-4 transform transition-all duration-200 ease-in-out hover:scale-[1.04] p-2 lg:p-4">

      <!-- Images -->
      <div class="carousel relative w-full h-60 overflow-hidden rounded-xl shadow">
        <% category.images.forEach((img, i) => { %>
          <img loading="lazy"
            src="<%= img %>"
            alt="<%= category.title %>"
            class="absolute inset-0 w-full h-full object-cover object-center transition-opacity duration-700 <%= i === 0 ? 'opacity-100' : 'opacity-0' %>"
            data-category-index="<%= categoryIndex %>"
            data-img-index="<%= i %>"
          />
        <% }) %>
      </div>

      <!-- Card title -->
      <h2 class="card-title gap-0  flex justify-center"><%= category.title %></h2>

      <!-- Job badges -->
      <div class="flex  animate-marquee gap-4 ">
        <% for(let i = 0; i < 2; i++) { %>
          <% category.badges.forEach(badge => { %>
            <div  class="badge whitespace-nowrap   text-slate-400   ">
              <%= badge %>
            </div>
          <% }) %>
        <% } %>
      </div>

    </div>
  <% }) %>


</div>


 


<%- include("partials/footer.ejs") %>
