<%- include("partials/header") %>
<%- include("partials/layout.ejs") %>


<h1>Hello <%- categoryName %> results </h1>


<!--Results table-->
<div class=" h-[80vh] lg:h-[89vh] overflow-x-auto relative ">

  <!--Results view skeleton-->
  <div class="flex flex-col gap-1 absolute z-10 mt-10 justify-center w-full rounded-none">
  <% for (let i = 0; i < 16; i++) { %>
  <div class="  h-14 w-full"></div>
  <% }%>
</div>
  <%- aiResponse %>
</div>




<%- include("partials/footer.ejs") %>